@import "variables";

@font-face {
    font-family: ‘Roboto-Regular’;
       //src: url('fonts/ Nombre de la fuente.eot');
       src: /*url('fonts/ Nombre de la fuente.eot?#iefix') format('embedded-opentype'),
            url('fonts/ Nombre de la fuente.woff') format('woff'),
            url('fonts/ Nombre de la fuente.ttf') format('truetype'),*/
            url('/assets/fonts/Roboto-Regular.ttf') format('svg');
      font-weight: normal;
      font-style: normal;
}

:root {
    --font-principal: 'Roboto-Regular';    
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto-Regular', sans-serif;
}

body{
    color: $color-principal;
}

ul li{
    list-style: none;
}