@import "variables";

// esto se puede tomar desde la cdn de google fonts que es gratis
@font-face {
    font-family: ‘Roboto-Regular’;
       //src: url('fonts/ Nombre de la fuente.eot');
       src: /*url('fonts/ Nombre de la fuente.eot?#iefix') format('embedded-opentype'),
            url('fonts/ Nombre de la fuente.woff') format('woff'),
            url('fonts/ Nombre de la fuente.ttf') format('truetype'),*/
            url('/assets/fonts/Roboto-Regular.ttf') format('svg');
      font-weight: normal;
      font-style: normal;
}

:root {
    --font-principal: 'Roboto-Regular';    
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto-Regular', sans-serif;
}

body{
    color: $color-principal;    
    width: 100%;

    @media screen and (min-width: 1024px){     
        font-size: 1.2rem;
    }

    @media screen and (min-width: 1366px){
        width: 80%;
        margin: auto;
        font-size: 1.5rem;
    }

    @media screen and (min-width: 1900px){     
        width: 70%;
    }
}

ul li{
    list-style: none;
}