@import "variables";

.navbar-toggler{
    margin-right: 15px;
}

.navbar-Everex{
    .navbar-nav{
        .nav-item{            
            margin: 0px;

            @media screen and (min-width: 1024px) {
                margin: 0px 5px;
            }
            @media screen and (min-width: 1366px) {
                margin: 0px 10px;
            }

            .nav-link{
                color: $color-principal;
                font-weight: 500;
                transition: ease-in;

                @media screen and (min-width: 1024px) {
                    font-size: 16px;
                }
            }

            .nav-link:hover,
            .nav-link.active{
                font-weight: bold;
                border-bottom: 2px solid $color-secundario;
            }
        }
    }
    .container-logo{
    
        > img{
            height: 40px;
    
            @media screen and (min-width: 768px) {
                height: 50px;
            }
        
            @media screen and (min-width: 1366px) {
                height: 60px;
            }
    
        }
    }
}

.navbar-light .navbar-toggler {
    border-color: $color-principal;

    &:focus{
        border-color: $color-principal;
        box-shadow: 0px 0px 0px rgba($color-principal, 0.5);
    }
}

.navbar-collapse.show{
    background-color: $color-principal;
    z-index: 9999;
    position: absolute;
    top: 66px;
    right: 0;
    width: 100%;
    box-shadow: 0px 12px 12px rgba(0,0,0, 0.5);

    .navbar-nav{
        .nav-item{
            .nav-link{
                color: $color-blanco;
                padding-left: 10px;
                padding-right: 10px;
            }

            .nav-link:hover,
            .nav-link.active{
                background-color: $color-secundario;
            }
        }
    }
}
